In [1]:

%pprint

Pretty printing has been turned OFF

In [2]:

%%time
%run ../py/sql_utlis.py

su = SqlUtilities()
_, CURSOR = su.get_jh_conn_cursor()

Wall time: 11 s

In [31]:

sql_str = '''
    SELECT
        nps.[file_name_id],
        COUNT(nps.[file_name_id]) AS total_ids
    FROM [Jobhunting].[dbo].[NavigableParentSequence] nps
    GROUP BY [file_name_id]
    ORDER BY COUNT(nps.[file_name_id]) DESC;'''
counts_df = pd.DataFrame(su.get_execution_results(CURSOR, sql_str, verbose=False))
counts_df

     file_name_id  total_ids
0             516       1125
1             485        379
2             160        297
3             486        263
4             250        257
..            ...        ...
527           141         11
528           458          4
529           301          3
530           269          3
531           419          1

[532 rows x 2 columns]

In [32]:

file_name_id = counts_df.head(1).file_name_id.squeeze()
sql_str = f'''
    SELECT
        fn.[file_name],
        np.[navigable_parent_id],
        nps.[sequence_order]
    FROM
        [Jobhunting].[dbo].[FileNames] fn INNER JOIN
        [Jobhunting].[dbo].[NavigableParentSequence] nps ON
        fn.[file_name_id] = nps.[file_name_id] INNER JOIN
        [Jobhunting].[dbo].[NavigableParents] np ON
        nps.[navigable_parent_id] = np.[navigable_parent_id]
    WHERE fn.[file_name_id] = {file_name_id}
    ORDER BY nps.sequence_order;'''
sequence_df = pd.DataFrame(su.get_execution_results(CURSOR, sql_str, verbose=False))
sequence_df

,file_name,navigable_parent_id,sequence_order
0,Statistician_(Data_Scientist)_12_month_Roster_...,3104,0
1,Statistician_(Data_Scientist)_12_month_Roster_...,3119,1
2,Statistician_(Data_Scientist)_12_month_Roster_...,3462,2
3,Statistician_(Data_Scientist)_12_month_Roster_...,3459,3
4,Statistician_(Data_Scientist)_12_month_Roster_...,14268,4
...,...,...,...
1120,Statistician_(Data_Scientist)_12_month_Roster_...,2634,1121
1121,Statistician_(Data_Scientist)_12_month_Roster_...,15419,1122
1122,Statistician_(Data_Scientist)_12_month_Roster_...,2559,1123
1123,Statistician_(Data_Scientist)_12_month_Roster_...,2634,1124
1124,Statistician_(Data_Scientist)_12_month_Roster_...,15419,1125

In [14]:

def guess_seq_len(seq):
    guess = 1
    max_len = int(len(seq) / 2)
    for x in range(2, max_len):
        if seq[0:x] == seq[x:2*x]:
            
            return x
    
    return guess

In [28]:

sql_str = f'''
    SELECT nps.[navigable_parent_id]
    FROM [Jobhunting].[dbo].[NavigableParentSequence] nps
    WHERE nps.[file_name_id] = {file_name_id}
    ORDER BY nps.sequence_order;'''
sequence_df = pd.DataFrame(su.get_execution_results(CURSOR, sql_str, verbose=False))
navigable_parent_ids_list = sequence_df.navigable_parent_id.tolist()
cutoff = guess_seq_len(navigable_parent_ids_list)
while cutoff > 1:
    sql_str = f'''
        DELETE FROM [Jobhunting].[dbo].[NavigableParentSequence]
        WHERE
            [sequence_order] < {cutoff} AND
            [file_name_id] = {file_name_id};'''
    CURSOR.execute(sql_str)
    sql_str = f'''
        UPDATE [Jobhunting].[dbo].[NavigableParentSequence]
        SET [sequence_order] = [sequence_order] - {cutoff}
        WHERE [file_name_id] = {file_name_id};'''
    CURSOR.execute(sql_str)
    sql_str = f'''
        SELECT nps.[navigable_parent_id]
        FROM [Jobhunting].[dbo].[NavigableParentSequence] nps
        WHERE nps.[file_name_id] = {file_name_id}
        ORDER BY nps.sequence_order;'''
    sequence_df = pd.DataFrame(su.get_execution_results(CURSOR, sql_str, verbose=False))
    navigable_parent_ids_list = sequence_df.navigable_parent_id.tolist()
    cutoff = guess_seq_len(navigable_parent_ids_list)

In [30]:

sql_str = '''
    DELETE FROM [Jobhunting].[dbo].[NavigableParentSequence]
    WHERE [navigable_parent_sequence_id] IN (
        SELECT h1.[navigable_parent_sequence_id]
        FROM
            [Jobhunting].[dbo].[NavigableParentSequence] AS h1 INNER JOIN
            [Jobhunting].[dbo].[NavigableParentSequence] AS h2 ON
                h1.[file_name_id] = h2.[file_name_id] AND
                h2.[navigable_parent_id] = h1.[navigable_parent_id] AND
                h2.[sequence_order] = h1.[sequence_order] - 1
        );'''
CURSOR.execute(sql_str)

In [34]:

sql_str = f'''
    SELECT *
    FROM [Jobhunting].[dbo].[NavigableParentSequence] nps
    WHERE nps.[file_name_id] = {file_name_id}
    ORDER BY nps.sequence_order;'''
sequence_df = pd.DataFrame(su.get_execution_results(CURSOR, sql_str, verbose=False))
sequence_df

,navigable_parent_sequence_id,file_name_id,navigable_parent_id,sequence_order,mrs_id
0,29628,516,3104,0,0
1,29629,516,3119,1,0
2,29630,516,3462,2,0
3,29631,516,3459,3,0
4,29632,516,14268,4,0
...,...,...,...,...,...
1120,30749,516,2634,1121,0
1121,30750,516,15419,1122,0
1122,30751,516,2559,1123,0
1123,30752,516,2634,1124,0
1124,30753,516,15419,1125,0

In [35]:

mask_series = sequence_df.duplicated(subset='navigable_parent_id', keep=False)
sequence_df[mask_series]

,navigable_parent_sequence_id,file_name_id,navigable_parent_id,sequence_order,mrs_id
1,29629,516,3119,1,0
2,29630,516,3462,2,0
3,29631,516,3459,3,0
4,29632,516,14268,4,0
5,29633,516,14270,5,0
...,...,...,...,...,...
1120,30749,516,2634,1121,0
1121,30750,516,15419,1122,0
1122,30751,516,2559,1123,0
1123,30752,516,2634,1124,0
1124,30753,516,15419,1125,0

In [40]:

# Get a list of html strings that repeat somewhere in the posting
navigable_parent_ids_list = sequence_df.navigable_parent_id.unique().tolist()
for navigable_parent_id in navigable_parent_ids_list:
    
    # Get their sequence numbers
    mask_series = (sequence_df.navigable_parent_id == navigable_parent_id)
    sequence_orders_list = sequence_df[mask_series].sequence_order.tolist()
    
    # Get the next html strings
    next_tags_list = []
    for sequence_order in sequence_orders_list:
        mask_series = (sequence_df.sequence_order == sequence_order+1)
        next_tag = sequence_df[mask_series].navigable_parent_id.squeeze()
        if type(next_tag) != pd.Series:
            next_tags_list.append(next_tag)
    
    # Check for sequence duplication
    if len(next_tags_list) != len(set(next_tags_list)):
        print(navigable_parent_id, next_tags_list)

3119 [3462, 3462, 3462]
3462 [3459, 3459, 3459, 3459, 3459]
3459 [14268, 14268, 14268, 14268, 14268]
14268 [14270, 14270, 14270, 14270, 14270, 14270]
14270 [14258, 14258, 14258, 14258, 14258, 14258]
14258 [14266, 14266, 14266, 14266, 14266, 14266]
14266 [14254, 14254, 14254, 14254, 14254, 14254]
14254 [14249, 14249, 14249, 14249, 14249, 14249]
14249 [3119, 3119, 3462, 3462, 14268, 3117]
3117 [2564, 2564, 2564, 2564]
2564 [14246, 14246, 14246, 14246, 2562]
14246 [2562, 2562, 2562, 2564]
2562 [2801, 2801, 2801, 2801, 2801]
2801 [2901, 2901, 2901, 2901, 2901]
2901 [3116, 3117, 3117, 2562, 832]
832 [1758, 1758, 1758]
1758 [15616, 15616, 15616]
15616 [309, 309, 309, 309]
309 [13306, 537, 609, 14363, 13306, 537, 609, 14363, 13306, 13306, 537, 537, 537, 609, 14363, 609, 14363]
13306 [1640, 1640, 1640, 2077]
1640 [2077, 2077, 2077]
2077 [15585, 15585, 15585, 15585]
15585 [2080, 2080, 2080, 2080]
2080 [15594, 15594, 15594, 15594]
15594 [505, 505, 505, 505]
505 [10133, 10133, 10133, 10133]
10133 [7507, 7507, 7507, 7507]
7507 [4625, 4625, 4625, 4625]
4625 [8092, 8092, 8092, 8092]
8092 [4549, 4549, 4549, 4549]
4549 [6271, 6271, 6271, 6271]
6271 [8648, 8648, 8648, 8648]
8648 [4531, 4531, 4531, 4531]
4531 [4302, 4302, 4302, 4302]
4302 [2092, 2092, 2092, 2092]
2092 [14981, 14981, 14981, 14981]
14981 [271, 271, 271, 271]
271 [2033, 2033, 2033, 2033]
2033 [12934, 12934, 12934, 12934]
12934 [1894, 1894, 1894, 1894]
1894 [12921, 12921, 12921, 12921, 12921]
12921 [1597, 13246, 1597, 13246, 1597, 1597, 1597, 1613, 13968, 1787, 1787, 1677]
1597 [11916, 11916, 11916, 11916, 11916]
11916 [1206, 1206, 15616, 1894, 1206]
1206 [11921, 11921, 11921]
11921 [1818, 1818, 1818]
1818 [8761, 8761, 8761, 8761]
8761 [10274, 10274, 10274, 10274]
10274 [10272, 10272, 10272, 10272]
10272 [13217, 13217, 1818, 1638]
13217 [1638, 1638]
1638 [685, 685, 685]
685 [9901, 9901, 9901]
9901 [5124, 5124, 5124]
5124 [8903, 8903, 8903]
8903 [1613, 1613, 1613]
1613 [13959, 13959, 13959, 13959]
13959 [527, 527, 527, 527, 527]
527 [1022, 1022, 1022, 1022, 1022]
1022 [15958, 15958, 15958, 15958, 15958]
15958 [1405, 1405, 1405, 1405, 1405]
1405 [12284, 12284, 12284, 12284, 12284]
12284 [1017, 1017, 1017, 1017, 1017]
1017 [15960, 15960, 15960, 15960, 15960]
15960 [6678, 6678, 6678, 6678, 6678]
6678 [6898, 6898, 6898, 6898, 6898]
6898 [6940, 6940, 6940, 6940, 6940]
6940 [6899, 6899, 6899, 6899, 6899]
6899 [7398, 7398, 7398, 7398, 7398]
7398 [6673, 6673, 6673, 6673, 6673]
6673 [6706, 6706, 6706, 6706, 6706]
6706 [6714, 6714, 6714, 6714, 6714]
6714 [6963, 6963, 6963, 6963, 6963]
6963 [10762, 10762, 10762, 10762, 10762]
10762 [10835, 10835, 10835, 10835, 10835]
10835 [878, 878, 878, 13959, 878]
878 [1545, 1545, 1545, 1545]
1545 [880, 880, 880, 880]
880 [570, 570, 570, 570]
570 [984, 984, 984, 984]
984 [1268, 1268, 1268, 1268]
1268 [1502, 1502, 1502, 1502]
1502 [881, 881, 881, 881]
881 [1031, 1031, 1031, 1031]
1031 [1244, 1244, 1244, 1244]
1244 [1291, 1291, 1291, 1291]
1291 [1287, 1287, 1287, 1287]
1287 [1409, 1409, 1409, 1409]
1409 [1764, 1764, 1764, 1764]
1764 [1769, 1769, 1769, 1769]
1769 [1770, 1770, 1770, 1770]
1770 [1771, 1771, 1771, 1771]
1771 [1773, 1773, 1773, 1773]
1773 [1245, 1245, 1245, 1245]
1245 [1052, 1052, 1052, 1052]
1052 [1379, 1379, 1379, 1379]
1379 [1395, 1395, 1395, 1395]
1395 [2109, 2109, 2109, 2109]
2109 [1382, 1382, 1382, 1382]
1382 [1326, 1326, 1326, 1326]
1326 [1003, 1003, 1003, 1003]
1003 [1161, 1161, 1161, 1161]
1161 [1311, 1311, 1311, 1311]
1311 [1512, 1512, 1512, 1512]
1512 [1917, 1917, 1917, 1917]
1917 [2138, 2138, 2138, 2138]
2138 [519, 519, 519, 519]
519 [1068, 1068, 1068, 1068]
1068 [759, 759, 759, 759]
759 [625, 625, 625, 625]
625 [817, 817, 817, 817]
817 [1780, 1780, 1780, 1780]
1780 [1853, 1853, 1853, 1853]
1853 [1130, 1130, 1130, 1130]
1130 [2300, 2300, 2300, 2300]
2300 [1292, 1292, 1292, 1292]
1292 [1380, 1380, 1380, 1380]
1380 [583, 583, 583, 583]
583 [584, 584, 584, 584]
584 [1868, 1868, 1868, 1868]
1868 [1844, 1844, 1844, 1844]
1844 [538, 538, 538, 538]
538 [1247, 1247, 1247, 1247]
1247 [1729, 1729, 1729, 1729]
1729 [482, 482, 482, 482]
482 [641, 641, 641, 641]
641 [780, 780, 780, 780]
780 [983, 983, 983, 983]
983 [989, 989, 989, 989]
989 [1036, 1036, 1036, 1036]
1036 [1522, 1522, 1522, 1522]
1522 [572, 572, 572, 572]
572 [624, 624, 624, 624]
624 [1258, 1258, 1258, 1258]
1258 [620, 620, 620, 620]
620 [1039, 1039, 1039, 1039]
1039 [1646, 1646, 1646, 1646]
1646 [1415, 1415, 1415, 1415]
1415 [860, 860, 860, 860]
860 [1152, 1152, 1152, 1152]
1152 [1355, 1355, 1355, 1355]
1355 [1482, 1482, 1482, 1482]
1482 [1248, 1248, 1248, 1248]
1248 [466, 466, 466, 466]
466 [567, 567, 567, 567]
567 [586, 586, 586, 586]
586 [1381, 1381, 1381, 1381]
1381 [1728, 1728, 1728, 1728]
1728 [627, 627, 627, 627]
627 [650, 650, 650, 650]
650 [1129, 1129, 1129, 1129]
1129 [1413, 1413, 1413, 1413]
1413 [2040, 2040, 2040, 2040]
2040 [1523, 1523, 1523, 1523]
1523 [1501, 1501, 1501, 1501]
1501 [1510, 1510, 1510, 1510]
1510 [1234, 1234, 1234, 1234]
1234 [1041, 1041, 1041, 1041]
1041 [2108, 2108, 2108, 2108]
2108 [1000, 1000, 1000, 1000]
1000 [1324, 1324, 1324, 1324]
1324 [1376, 1376, 1376, 1376]
1376 [521, 521, 521, 521]
521 [982, 982, 982, 982]
982 [997, 997, 997, 997]
997 [1072, 1072, 1072, 1072]
1072 [1768, 1768, 1768, 1768]
1768 [1412, 1412, 1412, 1412]
1412 [1766, 1766, 1766, 1766]
1766 [1394, 1394, 1394, 1394]
1394 [1725, 1725, 1725, 1725]
1725 [2069, 2069, 2069, 2069]
2069 [1783, 1783, 1783, 1783]
1783 [1329, 1329, 1329, 1329]
1329 [2110, 2110, 2110, 2110]
2110 [1222, 1222, 1222, 1222]
1222 [1318, 1318, 1318, 1318]
1318 [446, 446, 446, 446]
446 [599, 599, 599, 599]
599 [9924, 9924, 9924, 9924, 9924, 9924]
9924 [15668, 15668, 15668, 15668, 15668, 15668]
15668 [2408, 2408, 2408, 2408, 2408, 2408]
2408 [16254, 16254, 16254, 16254, 16254, 16254]
16254 [11102, 11102, 11102, 11102, 11102, 11102]
11102 [11101, 11101, 11101, 11101, 11101, 11101]
11101 [3817, 3817, 3817, 3817, 3817, 3817]
3817 [8957, 8957, 8957, 8957, 8957, 8957]
8957 [5374, 5374, 5374, 5374, 5374, 5374]
5374 [8143, 8143, 8143, 8143, 8143, 8143]
8143 [7983, 7983, 7983, 7983, 7983, 7983]
7983 [7843, 7843, 7843, 7843, 7843, 7843]
7843 [10909, 10909, 10909, 10909, 10909, 10909]
10909 [120, 120, 120, 120, 120, 120]
120 [1349, 1349, 1349, 1349, 1349, 1349]
1349 [15168, 15168, 15168, 15168, 15168, 15168]
15168 [1076, 1076, 1076, 599, 599, 1076]
1076 [13968, 13968, 13968, 13968]
13968 [15982, 15982, 15982, 15982, 15982]
15982 [15699, 15699, 15699, 15699, 15699]
15699 [1657, 1657, 1657, 1657, 1657]
1657 [326, 326, 326, 326, 326]
326 [14376, 14967, 14376, 14967, 14376, 14376, 14376, 14967, 14967]
14376 [2498, 2498, 2498, 2498, 2498]
2498 [16192, 16192, 16192, 16192, 16192]
16192 [14958, 14958, 14958, 14958, 14958]
14958 [2075, 2075, 2075, 2075, 2075]
2075 [1, 1, 1, 1, 1]
1 [15714, 15714, 15714, 15714, 15714]
15714 [1215, 1215, 1215, 1215, 1215]
1215 [2018, 2018, 2018, 2018, 2018]
2018 [2413, 2413, 2413, 2413, 2413]
2413 [309, 309, 309, 309, 309]
537 [1787, 1787, 1787, 1787, 1787]
1787 [12925, 12925, 12925, 12925, 12925, 12925, 12925]
12925 [820, 820, 820, 820, 820, 820, 820]
820 [12921, 12921, 12921, 12921, 12921, 12921, 12921]
13246 [1677, 1677]
1677 [332, 332, 332]
332 [144, 144, 144, 144]
144 [470, 470, 470, 470]
470 [16022, 16022, 16022, 16022]
16022 [2055, 2055, 2055, 2055]
2055 [14962, 14962, 14962, 14962]
14962 [987, 987, 987, 987]
987 [309, 309, 309, 309]
609 [14959, 14959, 14959, 14959]
14959 [836, 836, 836, 836]
836 [326, 326, 326, 326]
14967 [309, 309, 309, 309]
14363 [14284, 14284, 14284, 14284]
14284 [14966, 14966, 14966, 14966]
14966 [1109, 1109, 1109, 1109]
1109 [12423, 12423, 12423, 12423, 12423]
12423 [12537, 12537, 12537, 12537, 12537]
12537 [12200, 12200, 332, 1109, 564]
12200 [564, 564]
564 [11940, 11940, 11940]
11940 [12982, 12982, 12982, 12982]
12982 [5102, 5102, 5102, 5102]
5102 [10717, 10717, 10717, 10717]
10717 [4288, 4288, 4288, 4288]
4288 [3975, 3975, 3975, 3975]
3975 [3951, 3951, 3951, 3951]
3951 [8515, 8515, 8515, 8515]
8515 [12434, 12434, 12434, 12434]
12434 [14922, 14922, 11940]
14922 [1996, 1996, 1996]
1996 [1978, 1978, 1978]
1978 [13653, 13653, 13653, 13653]
13653 [631, 631, 631, 631]
631 [13650, 13650, 13650, 13650]
2559 [2634, 2634, 2634]
2634 [15419, 15419, 15419]
15419 [2559, 2559]

In [41]:

from suffix_trees import STree

# Suffix-Tree example.
st = STree.STree('abcdefghab')
print(st.find('abc')) # 0
print(st.find_all('ab')) # [0, 8]

# Generalized Suffix-Tree example.
a = ['xxxabcxxx', 'adsaabc', 'ytysabcrew', 'qqqabcqw', 'aaabc']
st = STree.STree(a)
print(st.lcs()) # 'abc'

0
{0, 8}
abc

In [43]:

[f'STree.{fn}' for fn in dir(STree) if not fn.startswith('_')]

['STree.STree']

In [44]:

STree.STree?

Init signature: STree.STree(input='')
Docstring:      Class representing the suffix tree.
File:           c:\users\dev\documents\repositories\job-hunting\jh_env\lib\site-packages\suffix_trees\stree.py
Type:           type
Subclasses:

In [47]:

id = 5419
str(id).zfill(6)

'005419'